{% extends "base.html" %}

{% block  body %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ERL</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('login')}}">Make a request</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto flex-fill ">
        <h1 class="mx-auto my-0 text-uppercase text-center text-light">ERL</h1>
        <h2 class=" mx-auto mt-2 mb-5 flex-fill text-center text-light">Admin login</h2>
              <form action="" method="post" class="form-group ">
                {{ form.login.label(class="text-light")}}<br>
                {{ form.login(class="form-control ")}}<br>
                {{ form.password.label(class="text-light")}}<br>
                {{form.password(class="form-control ")}}<br>
                  <div class="text-center">
                    {{form.submit (class="btn btn-lg btn-primary")}}<br>
                  </div>
            </form>
      </div>
    </div>
  </header>
{% endblock %}